{% extends '_layout.html' %}

{% block assets %}
{% endblock %}

{% block title %}{{ repo }}: {{ path }}{% endblock %}

{% block body %}

<div class="content">
    <div class="content__metadata">
        <div class="content__info">
            <p>
                # {{repo.name}}
                <br>
                # - {{path}}
            </p>
        </div>

        {% if toc %}
        <div class="content__toc">
            <div class="content__toc-title">
                TOC
            </div>
            <div class="content__toc-table">
                {{ toc|safe }}
            </div>
        </div>
        {% endif %}
    </div>

    <hr>


    <div class="md-reset">
        {{ content|safe }}
    </div>
</div>

{% endblock %}
