.md-reset * {
    line-height: 1.75em;
    color: #404040;
}

.md-reset code {
    padding: 0.25em;
}

.md-reset pre {
    overflow-x: auto;
    padding: 1em;
}

.md-reset h1,
.md-reset h2,
.md-reset h3,
.md-reset h4,
.md-reset h5 {
    margin: 1em 0 0.125em 0;
    font-size: 1.125em;
    font-weight: bold;
    color: #000000;
}

.md-reset h1 {
    border-bottom: 1px solid #eeeeee;
    font-size: 1.75em;
}

.md-reset h2 {
    border-bottom: 1px solid #eeeeee;
    font-size: 1.5em;
}

.md-reset h3 {
    font-size: 1.25em;
}

.md-reset p {
    margin: 0.25em 0 1em 0;
}

.md-reset ul {
    list-style: disc;
}

.md-reset ul ul {
    list-style: circle;
    margin-top: 0;
}

.md-reset ul,
.md-reset ol {
    list-style-position: inside;
    margin-top: 1em;
    margin-left: 1em;
}

.md-reset ul li {
    line-height: 1.5em;
}

.md-reset blockquote {
    border-left: 4px solid #d0d0d0;
    padding: 1em;
}

.md-reset blockquote > :last-child {
    margin-bottom: 0;
}

.md-reset hr {
    border: none;
    height: 4px;
    background-color: #e0e0e0;
}

.md-reset table {

}

.md-reset table thead {
 background: #f0f0f0;
}

.md-reset table th,
.md-reset table td {
    border: 1px solid #a0a0a0;
    padding: 0.5em 1em;
}
